// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* START_HIGHLIGHT */
.products_table {
  border-collapse: collapse;

  tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width:  60px;
    height: 70px;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }

  .list_line_even {
    background:   #fff;
  }
  .list_line_odd {
    background:   #fff5c3;
  }
}
/* END_HIGHLIGHT */

#product_title{
  font-size: large;
}

#product_description{
  margin-top: 1em;
  margin-bottom: 1em;
}

#product_image{
  display: block;
  margin: auto;
  max-width: 300px;
  float: left;
}

.price_line {
  display: inline;
  margin-top: 1em;
}

#product_quantity {
  margin-left: 5em;
}

#product_rating {
  margin-left: 5em;
  margin-right: 3em;
}

#add_button {
  form {
    display: inline;
  }
}

.sale_price {
     color: #ff6666;
     font_weight: bold;
}

#notice{
  width: 400px;
}
