// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* START_HIGHLIGHT */
@import "bootstrap-sprockets";
@import "bootstrap";
.products {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width:  60px;
    height: 70px;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }

  .list_line_even {
    background:   #e0f8f8;
  }
  .list_line_odd {
    background:   #f8b0f8;
  }
}
/* END_HIGHLIGHT */

#title{
  font-size: 15px;
  margin-top: 30px;
  margin-left: 50px;
}

#description{
  width: 600px;
  position: relative;
  top: 30px;
}

#product_price {
  display: inline;
  position: relative;
  left: 30px;
}

#product_rating {
  display: inline;
  position: relative;
  left: 40px;
}

#product_quantity {
  display: inline;
  position: relative;
  left: 50px;
}

.btn{
  background: #FF7F00;
  font-size: 2em;
  color: #66ff66
}
