<h1>Contact us</h1>
<h2>FastBuy</h1>
<p>Time-limited Sales Promotion is a very popular commercial activity held by online retailers in e-commerce. Providing reliable and timely responses to large scale of concurrent requests is thus crucial. Our project aims to build a Time-limited Sales Promotion System which can handle numerous concurrent customers' orders on different products within limited time.</p>
<br>
<h3>Team Members:</h3>
<ul>
  <li>Dongqiao Ma</li>
  <li>Andre Abreu Calfa</li>
  <li>Longfeng Li</li>
  <li>Xuelun Gong</li>
  <li>Shenghan Gao</li>
</ul>

