<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>FastBuy Catalog</h1>
<div align = "right">
<%= form_tag({ controller: 'store', action: 'sort'}, method: 'get') do %>
<nobr>Sort by</nobr>
<%= select_tag( 'sort', options_for_select([['title', "title"], ['price', "price"], ['quantity', "quantity"], ['rating', "rating"]]), :onchange => "this.form.submit();", :include_blank => "please select" ) %>
<% end %>
</div>

<div class = "sort_paginate_ajax"><%= render 'products' %></div>
